<form class="layui-form" method="post" action="/tkfadmin/notice/update.html">
    <input type="hidden" name="id" value="{$list.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" value="{$list.title}"
                   placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea name="content" placeholder="请输入内容" class="layui-textarea" >{$list.content}</textarea>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="state" value="1" title="显示" {if $list.state.value eq 1} checked="" {/if}>
            <input type="radio" name="state" value="2" title="隐藏" {if $list.state.value eq 2} checked="" {/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.render();
        form.on('submit(*)', function (data) {
            return post(data.form);
        });
    });
</script>