html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #191919;
}

.header {
    width: 100%;
    padding-bottom: 0.15rem;
}

.register {
    padding-top: 0.8rem;
    padding-left: 0.175rem;
}

.logo {
    width: 0.55rem;
    height: 0.31rem;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.font {
    color: #fff;
    font-size: 0.18rem;
    margin-left: 0.1rem;
    margin-top: 0.15rem;
    line-height: 0.18rem;
}

.ipt_box {
    width: 92%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 0.2rem;
    position: relative;
    border-radius: 0.05rem;
}
.ipt_code{
}

.user {
    width: 100%;
    margin: 0.15rem auto;
    background: rgba(0, 0, 0, 0);
    font-size: 0.14rem;
    line-height: 0.14rem;
    border: none;
    padding-left: 0.15rem;
    box-sizing: border-box;
    color: #fff;
    outline: none;
}

.close {
    width: 0.12rem;
    height: 0.12rem;
    position: absolute;
    top: 0.16rem;
    right: 0.15rem;
    display: none;
}

.code {
    width: 60%;
    margin: 0.15rem auto;
    background: rgba(0, 0, 0, 0);
    font-size: 0.14rem;
    line-height: 0.14rem;
    border: none;
    padding-left: 0.15rem;
    box-sizing: border-box;
    color: #fff;
    outline: none;
}

.yzm {
    font-size: 0.12rem;
    color: #E9B961;
    margin-right: 0.15rem;
    line-height: 0.45rem;
}

.btn {
    width: 92%;
    margin: 0 auto;
    line-height: 0.44rem;
    margin-top: 0.4rem;
    text-align: center;
    border-radius: 0.05rem;
    color: #FFFFFF;
    font-size: 0.14rem;
    background: linear-gradient(#FFDC97, #E6B458)
}

.log {
  text-align: center;
  color: #E9B961;
  font-size: 0.12rem;
  position: absolute;;
  bottom: 0.3rem;
  width: 100%;
}
