<form class="layui-form" method="post" action="user_insert.html" >
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-block">
      <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">角色</label>
    <div class="layui-input-block">
      <select name="roleid" lay-verify="required">
        <option value='0'>--超级管理员--</option>
        {volist name="list" id="vo"}
          <option value="{$vo.id}">{$vo.name}</option>
        {/volist}
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">     
      <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script> 
layui.use('form', function(){
  var form = layui.form;  
  form.render();
  form.on('submit(*)', function(data){
    return post(data.form);
  });
});
</script>