<div class="layui-form" lay-filter="form">
  <div class="layui-form-item">
    <div class="layui-inline">     
      <div class="layui-input-inline">
        <input class="layui-input" name="user" type="text" placeholder="id或用户id或订单参考号">
      </div>   
      <div class="layui-input-inline" >
        <select name="type" lay-filter="type">
          <option value="">类型</option>
          <option value="1">购买</option>
          <option value="2">出售</option>
        </select>
      </div>
      <div class="layui-input-inline" >
        <select name="genre" lay-filter="genre">
          <option value="">种类</option>
          <option value="1">正常</option>
<!--          <option value="2">福利</option>-->
          <option value="3">抢购</option>
          <option value="4">首单</option>
        </select>
      </div>
       <div class="layui-input-inline" >
        <select name="part" lay-filter="part">
          <option value="">选择分区</option>
          <option value="1">一区</option>
		  <option value="2">二区</option>
		  <option value="3">三区</option>
		  <option value="4">四区</option>
		  <option value="5">五区</option>
		  <option value="6">六区</option>
		  <option value="7">七区</option>
		  <option value="8">八区</option>
		  <option value="9">九区</option>
         
        </select>
      </div>
      <div class="layui-input-inline">
        <input type="text" name="start" class="layui-input" placeholder="开始时间" id="start" autocomplete="off">
      </div>
      <div class="layui-input-inline">
        <input type="text" name="end" class="layui-input" placeholder="结束时间" id="end" autocomplete="off">
      </div>
      <div class="layui-input-inline">
        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*" >查询</button> 
      </div>
    </div>
  </div>
</div>
<blockquote class="layui-elem-quote" style="background: #FFFFFF;">
  已完成的需求: {$completed};
  未完成的需求: {$uncompleted}
</blockquote>
<blockquote class="layui-elem-quote" style="background: #FFFFFF;">
  抢购额度: {$robAmount};
  已抢购额度: {$onRobAmount}
  <button class="layui-btn layui-btn-xs" onclick="setRobAmount()">设置抢购额度</button>
</blockquote>

<div class="layui-tab layui-tab-card">
  <ul class="layui-tab-title" style="margin-bottom: 0px;">
    {if condition="$item == 0"}
      <li class="layui-this">出售</li>
      <li >购买</li>
      {else/}
      <li >出售</li>
      <li class="layui-this">购买</li>
    {/if}
  </ul>
  <div class="layui-tab-content" style="background: #FFFFFF;">
    {if condition="$item eq 0"}
    <div class="layui-tab-item layui-show" >
    {else/}
    <div class="layui-tab-item" >
    {/if}
      <table class="layui-table" lay-size="sm">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>id</th>
            <th>订单参考ID</th>
            <th>用户</th>
            <th>类型(属性)(单数)(天数)</th>
            <th>状态</th>
            <th>数量</th>
            <th>剩余匹配数量</th>
            <th>正在交易</th>
            <th>交易中数量</th>
            <th>冻结状态(申诉)</th>
            <th>下单时间</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          {volist name="buy_list" id="vo"}
            <tr>
              <td>
              <!-- <td onclick="open_page('demand_order_info','{$vo.id}','订单详情id:{$vo.id}')" style="cursor: pointer;"> -->
                {$vo.id}
              </td>
              <td>{$vo.demand_id}</td>
              <td>
                {$vo.user}    ({$vo.name})    ({$vo.real_name})
                {if condition="$vo.user_lock eq 1"}
                  <font style="color: red;">[已锁定]</font>
                {/if}
              </td>
              <td>
                {switch name="vo.type.value" }
                  {case value="1"}<font style="color: #FFB800;">{$vo.type.msg}</font>{/case}
                  {case value="2"}<font style="color: #01AAED;">{$vo.type.msg}</font>{/case}
                {/switch}
                ({$vo.genre.msg})
                
                {if condition="$vo.demand_num"}
                  ({$vo.demand_num})
                {/if}
                {if condition="$vo.day != null"}
                  ({$vo.day})
                {/if}
              </td>
              <td>
                {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                已匹配完成
                {elseif $vo.lock_amount eq 0 and $vo.on_amount=0/}
                待匹配
                {elseif $vo.state.value eq 3}
                已取消
                {else }
                进行中
                {/if}
              </td>
              <td>{$vo.amount}</td>
              <td>
                {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                  已匹配完成
                  {else/}
                  {$vo.amount - ($vo.on_amount + $vo.lock_amount)}
                {/if}

              </td>
              <td>{$vo.lock_amount}</td>
              <td>
                {if condition="$vo.order_num neq 0"}
                  <font style="color: #01AAED;">{$vo.order_num}</font>
                  {else/}
                  {$vo.order_num}
                {/if}
              </td>
              <td>
                {if condition="$vo.state.value eq 1"}
                  <font style="color: #FFB800;">{$vo.state.msg}
                  {else/}
                  {if condition="$vo.match_state.value eq 1"}
                      <button class="layui-btn  layui-btn-xs" onclick="setDemandMatchState('{$vo.id}', 2)">
                        {$vo.match_state.msg}
                      </button>
                    {else /}
                      <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="setDemandMatchState('{$vo.id}', 1)">
                        {$vo.match_state.msg}
                      </button>
                  {/if}
                {/if}
              </td>
              <td>
                  {$vo.create_time}
              </td>

              <td>{$vo.update_time}</td>
              <td>
                {switch name="vo.state.value" }
                  {case value="3"}<font style="color: #cecece;">{$vo.state.msg}</font>{/case}
                  {case value="1"}<font style="color: #FFB800;">{$vo.state.msg}</font>{/case}
                  {case value="2"}
                    {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                      已匹配完成
                      {else/}
                      <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" 
                         onclick="cancelDemand({$vo.id})">
                          <span>取消需求</span> 
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="updateIsLockDemand('{$vo.id}','{$vo.is_lock.value}', this, 2, {$vo.amount})">
                          {if condition="$vo.is_lock.value eq 1"}
                            <span style="color: red">恢复匹配</span>
                          {else/}
                            <span>禁止匹配</span>
                          {/if}
                        </button>
                        
                        {if condition="$vo.flag eq 1"}
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="delPart('{:url(\'/tkfadmin/demand/del_part\')}','{$vo.id}',this)" >
                          移出匹配池
                        </button>
                        {else/}
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="addPart('{:url(\'/tkfadmin/demand/add_part\')}','{$vo.id}',this)" >
                          添加到匹配池
                        </button>
                         {/if}
                      </div>  
                    {/if}
                  {/case}
                {/switch}
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      {$buy_list->render()}
    </div>
    {if condition="$item eq 1"}
    <div class="layui-tab-item layui-show" >
    {else/}
    <div class="layui-tab-item" >
    {/if}
      <table class="layui-table" lay-size="sm">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>id</th>
            <th>订单参考ID</th>
            <th>用户</th>
            <th>类型(属性)(单数)(天数)</th>
            <th>状态</th>
            <th>数量</th>
            <th>剩余匹配数量</th>
            <th>正在交易</th>
            <th>交易中数量</th>
            <th>冻结状态(申诉)</th>
            <th>下单时间</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          {volist name="sell_list" id="vo"}
            <tr>
              <td>
              <!-- <td onclick="open_page('demand_order_info','{$vo.id}','订单详情id:{$vo.id}')" style="cursor: pointer;"> -->
                {$vo.id}
              </td>
              <td>{$vo.demand_id}</td>
              <td>
                {$vo.user}     ({$vo.name})     ({$vo.real_name})
                {if condition="$vo.user_lock eq 1"}
                  <font style="color: red;">[已锁定]</font>
                {/if}
              </td>
              <td>
                {switch name="vo.type.value" }
                  {case value="1"}<font style="color: #FFB800;">{$vo.type.msg}</font>{/case}
                  {case value="2"}<font style="color: #01AAED;">{$vo.type.msg}</font>{/case}
                {/switch}
                ({$vo.genre.msg})
                {if condition="$vo.demand_num"}
                  ({$vo.demand_num})
                {/if}
                {if condition="$vo.day != null"}
                  ({$vo.day})
                {/if}
              </td>
              <td>
                {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                已匹配完成
                {elseif $vo.lock_amount eq 0 and $vo.on_amount eq 0/}
                待匹配
                {elseif $vo.state.value eq 3}
                已取消
                {else }
                进行中
                {/if}
              </td>
              <td>{$vo.amount}</td>
              <td>
                {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                  已匹配完成
                  {else/}
                  {$vo.amount - ($vo.on_amount + $vo.lock_amount)}
                {/if}

              </td>
              <td>{$vo.lock_amount}</td>
              <td>
                {if condition="$vo.order_num neq 0"}
                  <font style="color: #01AAED;">{$vo.order_num}</font>
                  {else/}
                  {$vo.order_num}
                {/if}
              </td>
              <td>
                {if condition="$vo.state.value eq 1"}
                  <font style="color: #FFB800;">{$vo.state.msg}
                  {else/}
                  {if condition="$vo.match_state.value eq 1"}
                      <button class="layui-btn  layui-btn-xs" onclick="setDemandMatchState('{$vo.id}', 2)">
                        {$vo.match_state.msg}
                      </button>
                    {else /}
                      <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="setDemandMatchState('{$vo.id}', 1)">
                        {$vo.match_state.msg}
                      </button>
                  {/if}
                {/if}
              </td>
              <td>
                {if condition="$vo.state.value eq 1"}
                  {$vo.create_time}
                  {else/}
                  {$vo.create_time}
                {/if}
              </td>

              <td>{$vo.update_time}</td>
              <td>
                {switch name="vo.state.value" }
                  {case value="3"}<font style="color: #cecece;">{$vo.state.msg}</font>{/case}
                  {case value="1"}<font style="color: #FFB800;">{$vo.state.msg}</font>{/case}
                  {case value="2"}
                    {if condition="($vo.amount - $vo.on_amount - $vo.lock_amount) eq 0"}
                      已匹配完成
                      {else/}
                      <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-primary layui-btn-sm" 
                         onclick="cancelDemand({$vo.id})">
                          <span>取消交易</span> 
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="updateIsLockDemand('{$vo.id}','{$vo.is_lock.value}', this, 2, {$vo.amount})">
                          {if condition="$vo.is_lock.value eq 1"}
                            <span style="color: red">恢复匹配</span>
                          {else/}
                            <span>禁止匹配</span>
                          {/if}
                        </button>
                         {if condition="$vo.flag eq 1"}
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="delPart('{:url(\'/tkfadmin/demand/del_part\')}','{$vo.id}',this)" >
                          移出匹配池
                        </button>
                        {else/}
                        <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="addPart('{:url(\'/tkfadmin/demand/add_part\')}','{$vo.id}',this)" >
                          添加到匹配池
                        </button>
                        {/if}
                      </div>  
                    {/if}
                  {/case}
                {/switch}
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      {$sell_list->render()}
    </div>
  </div>
</div>

<script>
  page_load();

  layui.use(['form', 'laydate'], function(){
    let form = layui.form;  
    let laydate = layui.laydate;
    laydate.render({
      elem: '#start'
      , type: 'datetime'
    });
    laydate.render({
      elem: '#end'
      , type: 'datetime'
    });
    form.val('form',{
      'user':"{$user}",
      'start':"{$start}",
      'end':"{$end}",
      'type':"{$type}",
      'genre':"{$genre}",
    });
    form.val();
    form.on('submit(*)', function(data){
      let user = data.field.user;
      let start = data.field.start;
      let end = data.field.end;
      let genre = data.field.genre;
      let type = data.field.type;
      let part=data.field.part;
        reload('demand_list.html?user='+user+'&start='+start+'&end='+end+'&genre='+genre+'&type='+type+'&part='+part);
      return false;
    });
  });

  function setDemandMatchState(demandId, state) {
    $.post('{:url('demand/set_demand_match_state')}', {
      demand_id: demandId,
      state
    },function(data) {
      if(data.code == 1){
        layer.msg(data.msg);
        refresh();
      }else{
        layer.msg(data.msg);
      }
    })
  }

  function setRobAmount() {
    layer.prompt({title: `请输入额度`, formType: 0}, function(text, index){
        layer.close(index);
        layer.confirm('确定这样做吗？', {
          btn: ['确定','取消'] //按钮
        }, function(index){
          layer.close(index);
          $.post('{:url('demand/set_rob_amount')}', {
            amount: text
          },function(data) {
            layer.msg(data.msg);
            if(data.code){
              refresh();
            }
          })
        });
      });
  }

  function cancelDemand(demandId) {
    layer.confirm('确定这样做吗？', {
      btn: ['确定','取消'] //按钮
    }, function(index){
      layer.close(index);
      $.post('{:url('demand/cancel_demand')}', {
        demand_id: demandId
      },function(data) {
        layer.msg(data.msg);
        if(data.code){
          refresh();
        }
      })
    });
  }

  // 修改订单状态
  function updateIsLockDemand(id, is_lock, that, type, amount){
    $.post('{:url('demand/update_demand_lock_state')}',{
      demand_id:id, is_lock
    },function(data){
      layer.msg(data.msg);
      let lockFont = $(that).parents('td').prev().prev().prev().find('font');
      if(data.code){
        if(is_lock == 2) {
          $(that).find('span').text('恢复匹配');
          $(that).find('span').css('color','red');
          $(that).attr('onclick', `updateIsLockDemand(${id}, 1, this, ${type}, ${amount})`);

          lockFont.text('已锁定');
          lockFont.css('color','red');
          if(type == 1){
            let conut = parseInt($('#buy_count').text());
            $('#buy_count').text(conut - amount);
          }else{
            let conut = parseInt($('#sell_count').text());
            $('#sell_count').text(conut - amount);
          }
        }

        if(is_lock == 1) {
          $(that).find('span').text('禁止匹配');
          $(that).find('span').css('color','#000000');
          $(that).attr('onclick', `updateIsLockDemand(${id}, 2, this, ${type}, ${amount})`);
          lockFont.text('未锁定');
          lockFont.css('color','#000000');
          if(type == 1){
            let conut = parseInt($('#buy_count').text());
            $('#buy_count').text(conut + amount);
          }else{
            let conut = parseInt($('#sell_count').text());
            $('#sell_count').text(conut + amount);
          }
        }
      }
    })
  }
  
  function addPart(url,id,now) {
    $.post(url,{id:id}, function(data) {
      if(data.code==1){
        layer.msg(data.msg);
        $(now).attr('onclick',"delPart('{:url(\'/tkfadmin/demand/del_part\')}','"+data.data.id+"',this)");
        $(now).text('移出匹配池');
      }else{
        layer.msg(data.msg);
      }
    })
  }

  function delPart(url,id,now){
    $.post(url,{id:id}, function(data) {
        if(data.code==1){
          layer.msg(data.msg);
          $(now).attr('onclick',"addPart('{:url(\'/tkfadmin/demand/add_part\')}','"+data.data.id+"',this)");
          $(now).text('添加到匹配池');
        }else{
            layer.msg(data.msg);
        }
    })
  }
</script>